# == Windows ==
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# == Composer ==
/composer.phar
/vendor/

# == phpDocumentor ==
/docs/tmp/

# == PHPUnit ==
/.phpunit.result.cache

# == Farah ==
/data/
/cache/
/log/
